.wrap {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    font-family: "Agency FB", sans-serif;
}

.title {
    font-size: 32px;
    font-weight: 580;
    text-align: center;
    margin: 10px;
    letter-spacing: 5px;
}

.products_wrap {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.nothing_found {
    font-size: 30px;
    text-align: center;
    margin: 30px;
    letter-spacing: 6px;
}

.btns_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.btn {
    background: white;
    border: none;
    margin: 10px;
    transition: 300ms;
    position: relative;
}

.btn:disabled > .arrow {
    color: rgba(0, 0, 0, 0.35);
}

.btn:disabled > .shadow {
    display: none;
}

.btn:enabled:hover {
    cursor: pointer;
}

.btn:enabled:hover > .shadow {
    box-shadow: 0 0 14px 4px rgba(0, 0, 0, 0.5);
}


.arrow {
    color: black;
    font-size: 27px;
}

.page {
    font-size: 27px;
    margin: 10px 15px;
}

.shadow {
    position: absolute;
    top: 13px;
    right: 12px;
    width: 15px;
    height: 1px;
    transition: 300ms;
    background: black;
}

.sort_wrap {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 25px;
}

.sort_title {
    font-size: 20px;
    margin-right: 8px;
    letter-spacing: 1px;
}

.select {
    font-family: "Agency FB", sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
    background: white;
    border: 1px solid black;
    border-radius: 3px;
}
